@import url("https://cdn.jsdelivr.net/npm/@fontsource/jetbrains-mono@4.5.11/variable.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/jetbrains-mono@4.5.11/variable-italic.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/PretendardVariable-VF.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/PretendardJPVariable-VF.css");

* {
	font-family: "JetBrains MonoVariable", "JetBrains Mono", "Pretendard JP Variable", "Pretendard JP", "Pretendard Variable", Pretendard, Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
}

html {
	background: #df99f7;
}

main {
	background: #dedede;
}
main > .tabs {
	padding: 16px;
	border-bottom: solid 4px #c3c3c3;
}

#lsEditor > .adder {
	margin: 16px;
	padding: 16px;
	border: solid 2px #c3c3c3;
}
#lsEditor > .adder > textarea {
	display: block;
	width: 100%;
	min-height: 5em;
	box-sizing: border-box;
}
#lsEditor > .record {
	padding: 16px;
	border-bottom: solid 1px #c3c3c3;
}
#lsEditor > .record > header {
	font-weight: bold;
}
#lsEditor > .record > textarea {
	display: block;
	width: 100%;
	min-height: 5em;
	box-sizing: border-box;
}
